.popup {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 2;
	
}